# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# Environment variables
.env

# Django stuff
*.log
*.pot
db.sqlite3
media/
staticfiles/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
