{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}
{% load i18n %}
    <!-- libs CSS -->
{% block extra_libs_css %}
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick-theme.css' %}">
{% endblock %}
{% block title %}Furnitica - Minimalist Furniture HTML Template{% endblock %}
{% block body_id %}home3{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<!-- main content -->
<div class="main-content">
        <div class="wrap-banner">

            <!-- category menu  -->
            <div class="container position">
                <div id="show-menu" class="menu-banner d-xs-none dropdown-menu collapse">
                    <div class="tiva-verticalmenu block">
                        <div class="verticalmenu" role="navigation">
                            <ul class="menu level1">
                                {% for category in categories %}
                                <li class="item parent">
                                    <a href="{% url 'products:products' %}?cat={{ category.id }}" class="hasicon" title="{{ category.title|upper }}">
                                        <img src="{% static 'img/home/table-lamp.png' %}" alt="img">{{ category.title|upper }}</a>
                                    <div class="dropdown-menu">
                                        <div class="menu-items">
                                            <ul>
                                                {% for subcat in subcategories %}
                                                    {% if subcat.sub.id == category.id %}
                                                        <li class="item">
                                                            <a href="{% url 'products:products' %}?cat={{ subcat.id }}" title="{{ subcat.title|upper }}">{{ subcat.title|upper }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slide-show -->
            <div class="slideshow">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider">
                        {% for banner in banners %}
                        <a href="{{ banner.link }}" title="Slideshow image">
                            <img class="img-responsive" src="{{ banner.image.url }}" title="#caption{{ forloop.counter }}" alt="Slideshowimage">
                        </a>
                        {% endfor %}
                    </div>
                    {% for banner in banners %}
                    <div id="caption{{ banner.id }}" class="nivo-html-caption caption">
                        <div class="tiva-caption">
                            <div class="left-right hidden-xs">
                                <p class="caption-{{ banner.id }}">
                                    {% for word in banner.title.split %}
                                        <span class="text-{{ forloop.counter }}">{{ word }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">
                        <!-- banner -->
                        <div class="section spacing-10 group-image-special">
                            <div class="row">
                                {% for sub in sub_banners %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="{{ sub.link }}">
                                            <img class="img-fluid width-100" src="{{ sub.image.url }}" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                       <!-- living room -->
<div class="section product-living-room">
    <div class="container">
        <div class="row">
            <div class="new-arrivals product-tab col">
                <div class="tab-content">
                    <div class="title-tab-content product-tab justify-content-between">
                        <div class="title-product">
                            <h2>{% trans "Living Room" %}</h2>
                            <p>{% trans "The living room is a cozy and stylish space designed for comfort and relaxation. With its spacious layout, soft lighting, and modern furniture, it is perfect for family gatherings, entertaining guests, or simply unwinding after a long day." %}</p>
                        </div>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#new" class="active" data-toggle="tab">{% trans "New Arrivals" %}</a>
                            </li>
                            <li>
                                <a href="#best" data-toggle="tab">{% trans "Best Deals" %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="new" class="tab-pane fade in active show">
                            <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                {% for living_pr in new_living_prs %}
                                <div class="item text-center">
                                    <div class="product-miniature js-product-miniature item-one first-item">
                                        <div class="thumbnail-container">
                                            <a href="{% url 'products:detail' pk=living_pr.id %}">
                                                <img class="img-fluid image-cover" src="{{ living_pr.image.url }}" alt="{% trans "Product Image" %}">
                                                <img class="img-fluid image-secondary" src="{{ living_pr.image2.url }}" alt="{% trans "Product Secondary Image" %}">
                                            </a>
                                            <div class="product-flags discount">-{{living_pr.discount }}%</div>
                                            <div class="highlighted-informations">
                                                <div class="variant-links">
                                                    {% for color in living_pr.products_quantity.colors.all %}
                                                    <a href="{% url 'products:detail' pk=living_pr.id %}" class="color {{ colors.title }}" title="{{ colors.title|lower }}"></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-groups">
                                                <div class="product-title">
                                                    <a href="{% url 'products:detail' pk=living_pr.id %}">{{ living_pr.title }}</a>
                                                </div>
                                                <div class="rating">
                                                    <div class="stars-content" style="justify-self: center">
                                                        {% with rating=product.get_rating %}
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating %}
                                                                    <div class="stars filled"></div>
                                                                {% else %}
                                                                    <div class="stars"></div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="product-group-price">
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">£{{ living_pr.discount_price }}</span>
                                                        <del class="regular-price">£{{ living_pr.price }}</del>
                                                    </div>
                                                </div>
                                            </div>
                                            {% in_basket request living_pr.id as is_true %}
                                            <div class="product-buttons d-flex justify-content-center">
                                                <form action="#" method="post" class="formAddToCart">
                                                    <input type="hidden" name="token">
                                                    <input type="hidden" name="id_product" value="1">
                                                    {% if is_true %}
                                                        <a class="add-to-cart" href="{% url 'basket:basket_remove' product_id=living_pr.id %}" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Remove from Cart" %}"></i>
                                                        </a>
                                                    {% else %}
                                                        <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=living_pr.id %}" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Add to Cart" %}"></i>
                                                        </a>
                                                    {% endif %}
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="best" class="tab-pane fade in">
                            <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                {% for big_sale in sales_living_prs %}
                                <div class="item text-center">
                                    <div class="product-miniature js-product-miniature item-one first-item">
                                        <div class="thumbnail-container">
                                            <a href="{% url 'products:detail' pk=big_sale.id %}">
                                                <img class="img-fluid image-cover" src="{{ big_sale.image.url }}" alt="{% trans "Product Image" %}">
                                                <img class="img-fluid image-secondary" src="{{ big_sale.image2.url }}" alt="{% trans "Product Secondary Image" %}">
                                            </a>
                                            <div class="product-flags discount">-{{ big_sale.discount }}%</div>
                                            <div class="highlighted-informations">
                                                <div class="variant-links">
                                                    {% for color in big_sale.products_quantity.colors.all %}
                                                        <a href="{% url 'products:detail' pk=big_sale.id %}" class="color {{ color.title|lower }}" title="{% trans color.title %}"></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-groups">
                                                <div class="product-title">
                                                    <a href="{% url 'products:detail' pk=big_sale.id %}">{{ big_sale.title }}</a>
                                                </div>
                                                <div class="rating">
                                                    <div class="stars-content" style="justify-self: center">
                                                        {% with rating=product.get_rating %}
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating %}
                                                                    <div class="stars filled"></div>
                                                                {% else %}
                                                                    <div class="stars"></div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="product-group-price">
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">£{{ big_sale.discount_price }}</span>
                                                        <del class="regular-price">£{{ big_sale.price }}</del>
                                                    </div>
                                                </div>
                                            </div>
                                            {% in_basket request big_sale.id as is_true %}
                                            <div class="product-buttons d-flex justify-content-center">
                                                <form action="#" method="post" class="formAddToCart">
                                                    <input type="hidden" name="token">
                                                    <input type="hidden" name="id_product" value="1">
                                                    {% if is_true %}
                                                        <a class="add-to-cart" href="{% url 'basket:basket_remove' product_id=big_sale.id %}" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Remove from Cart" %}"></i>
                                                        </a>
                                                    {% else %}
                                                        <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=big_sale.id %}" data-button-action="add-to-cart">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Add to Cart" %}"></i>
                                                        </a>
                                                    {% endif %}
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- deal of the day -->
<div class="section deal-of-day">
    <div class="container">
        <div class="row">
            <div class="new-arrivals product-tab col">
                <div>
                    <div class="title-tab-content product-tab">
                        <div class="title-product text-center">
                            <h2>{% trans "Deal Of The Day" %}</h2>
                            <p>{% trans "Hurry Up, The Same Time Is Not Extended !!!" %}</p>
                        </div>
                        <div class="tab-content">
                            <div id="deal_of_day" class="slick">
                                {% for big_sale in big_sales %}
                                <div class="item text-center">
                                    <div class="product-miniature js-product-miniature item-one first-item">
                                        <div class="thumbnail-container">
                                            <a href="{% url 'products:detail' pk=big_sale.id %}">
                                                <img class="img-fluid" src="{{ big_sale.image.url }}" alt="{% trans "Product Image" %}">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="d-flex justify-content-center">
                                                <div class="days"></div>
                                                <div class="hours"></div>
                                                <div class="minutes"></div>
                                                <div class="seconds"></div>
                                            </div>
                                            <div class="product-groups">
                                                <div class="product-title">
                                                    <a href="{% url 'products:detail' pk=big_sale.id %}">{{ big_sale.title }}</a>
                                                </div>
                                                <div class="product-group-price">
                                                    <span class="price">£{{ big_sale.discount_price }}</span>
                                                    <del class="regular-price">£{{ big_sale.price }}</del>
                                                </div>
                                            </div>
                                            {% in_basket request big_sale.id as is_true %}
                                            <div class="product-buttons d-flex justify-content-center">
                                                <form action="#" method="post" class="formAddToCart">
                                                    <input type="hidden" name="token">
                                                    <input type="hidden" name="id_product" value="1">
                                                    {% if is_true %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_remove' product_id=big_sale.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Remove from Cart" %}"></i>
                                                    </a>
                                                    {% else %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=big_sale.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Add to Cart" %}"></i>
                                                    </a>
                                                    {% endif %}
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- kitchen (corrected to bathroom) -->
<div class="section product-living-room">
    <div class="container">
        <div class="row">
            <div class="new-arrivals product-tab col">
                <div class="tab-content">
                    <div class="title-tab-content product-tab justify-content-between">
                        <div class="title-product">
                            <h2>{% trans "Bathroom" %}</h2>
                            <p>{% trans "The bathroom is a clean and functional space with a modern design. Equipped with essential fixtures, elegant tiles, and a relaxing atmosphere, it provides comfort and convenience for everyday use." %}</p>
                        </div>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#new1" class="active" data-toggle="tab">{% trans "New Arrivals" %}</a>
                            </li>
                            <li>
                                <a href="#best1" data-toggle="tab">{% trans "Best Deals" %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="new1" class="tab-pane fade in active show">
                            <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                {% for bathroom_pr in new_bathroom_prs %}
                                <div class="item text-center">
                                    <div class="product-miniature js-product-miniature item-one first-item">
                                        <div class="thumbnail-container">
                                            <a href="{% url 'products:detail' pk=bathroom_pr.id %}">
                                                <img class="img-fluid image-cover" src="{{ bathroom_pr.image.url }}" alt="{% trans "Product Image" %}">
                                                <img class="img-fluid image-secondary" src="{{ bathroom_pr.image2.url }}" alt="{% trans "Product Secondary Image" %}">
                                            </a>
                                            <div class="product-flags discount">-{{bathroom_pr.discount }}%</div>
                                            <div class="highlighted-informations">
                                                <div class="variant-links">
                                                    {% for color in bathroom_pr.products_quantity.color.all %}
                                                    <a href="#" class="color {{ color.title }}" title="{{ color.title|lower }} "></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-groups">
                                                <div class="product-title">
                                                    <a href="{% url 'products:detail' pk=bathroom_pr.id %}">{{ bathroom_pr.title }}</a>
                                                </div>
                                                <div class="rating">
                                                    <div class="stars-content" style="justify-self: center">
                                                        {% with rating=product.get_rating %}
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating %}
                                                                    <div class="stars filled"></div>
                                                                {% else %}
                                                                    <div class="stars"></div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="product-group-price">
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">£{{ bathroom_pr.discount_price }}</span>
                                                        <del class="regular-price">£{{ bathroom_pr.price }}</del>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-buttons d-flex justify-content-center">
                                                <form action="#" method="post" class="formAddToCart">
                                                    <input type="hidden" name="token">
                                                    <input type="hidden" name="id_product" value="1">
                                                    {% if is_true %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_remove' product_id=bathroom_pr.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Remove from Cart" %}"></i>
                                                    </a>
                                                    {% else %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=bathroom_pr.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Add to Cart" %}"></i>
                                                    </a>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="best1" class="tab-pane fade in">
                            <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                {% for bath in sales_bathroom_prs %}
                                <div class="item text-center">
                                    <div class="product-miniature js-product-miniature item-one first-item">
                                        <div class="thumbnail-container">
                                            <a href="{% url 'products:detail' pk=bath.id %}">
                                                <img class="img-fluid image-cover" src="{{ bath.image.url }}" alt="{% trans "Product Image" %}">
                                                <img class="img-fluid image-secondary" src="{{ bath.image2.url }}" alt="{% trans "Product Secondary Image" %}">
                                            </a>
                                            <div class="product-flags discount">-{{ bath.discount }}%</div>
                                            <div class="highlighted-informations">
                                                <div class="variant-links">
                                                    {% for color in bath.products_quantity.colors.all %}
                                                        <a href="{% url 'products:detail' pk=bath.id %}" class="color {{ color.title|lower }}" title="{{ color.title }}"></a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-groups">
                                                <div class="product-title">
                                                    <a href="{% url 'products:detail' pk=bath.id %}">{{ bath.title }}</a>
                                                </div>
                                                <div class="rating">
                                                    <div class="stars-content" style="justify-self: center">
                                                        {% with rating=product.get_rating %}
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating %}
                                                                    <div class="stars filled"></div>
                                                                {% else %}
                                                                    <div class="stars"></div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="product-group-price">
                                                    <div class="product-price-and-shipping">
                                                        <span class="price">£{{ bath.discount_price }}</span>
                                                        <del class="regular-price">£{{ bath.price }}</del>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-buttons d-flex justify-content-center">
                                                <form action="#" method="post" class="formAddToCart">
                                                    <input type="hidden" name="token">
                                                    <input type="hidden" name="id_product" value="1">
                                                    {% if is_true %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_remove' product_id=bath.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Remove from Cart" %}"></i>
                                                    </a>
                                                    {% else %}
                                                    <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=bath.id %}" data-button-action="add-to-cart">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true" title="{% trans "Add to Cart" %}"></i>
                                                    </a>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testimonial -->
<div class="section testimonial-block col-lg-12 col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="block">
                    <div class="owl-carousel owl-theme testimonial-type-home3">
                        {% for admin in about %}
                        <div class="item type-one text-center">
                            <div class="textimonial-image d-flex justify-content-center">
                                <i class="icon-testimonial" title="{% trans "Testimonial Icon" %}"></i>
                            </div>
                            <div class="desc-testimonial">
                                <div class="testimonial-content">
                                    <div class="text">
                                        <p>{{ admin.bio }}</p>
                                    </div>
                                </div>
                                <div class="testimonial-info">
                                    <h5 class="mt-0 box-info">{{ admin.name }}</h5>
                                    <p class="box-dress">{{ admin.profession }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- newsletter -->
<div class="section newsletter">
    <div class="container">
        <div class="row">
            <div class="news-content">
                <div class="tiva-modules">
                    <div class="block">
                        <div class="social-content">
                            <div id="social-block">
                                <div class="social">
                                    <h1>{% trans 'Subscribe to our social medias' %}</h1>
                                    <ul class="list-inline mb-0 justify-content-end">
                                        <li class="list-inline-item mb-0">
                                            <a href="{{ telegram }}" target="_blank">
                                                <i class="fa fa-telegram" title="{% trans "Telegram" %}"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <a href="{{ twitter }}" target="_blank">
                                                <i class="fa fa-twitter" title="{% trans "Twitter" %}"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <a href="{{ linkedin }}" target="_blank">
                                                <i class="fa fa-linkedin" title="{% trans "Linkedin" %}"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <a href="{{ github }}" target="_blank">
                                                <i class="fa fa-github" title="{% trans "Github" %}"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</div>
</div>
</div>
        <style>
.stars-content {
    display: flex;
    gap: 2px;
    flex-flow: row;
}

.stars {
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

.stars.filled {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffc107" stroke="%23ffc107" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

/* Review form rating stars */
.ratings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 5px;
}

.ratings input[type="radio"] {
    display: none;
}

.ratings label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

.ratings input[type="radio"]:checked ~ label,
.ratings label:hover,
.ratings label:hover ~ label {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffc107" stroke="%23ffc107" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}
</style>
{% endblock %}
{% block extra_libs_js %}
<script src="{% static 'libs/slick-slider/js/slick.min.js' %}"></script>
{% endblock %}


