{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}{{ product.title }} - Furnitica{% endblock %}
{% block body_id %}product-detail{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<!-- main content -->
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">
                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="{% url 'pages:home3' %}">
                                            <span>{% trans "Home" %}</span>
                                        </a>
                                    </li>
                                    {% if product.categories.first %}
                                    <li>
                                        <a href="{% url 'products:products' %}">
                                            <span>{% trans 'Products' %}</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <span>{{ product.title }}</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                    <!-- category -->
                                    <div class="sidebar-block">
                                        <div class="title-block">{% trans "Categories" %}</div>
                                        <div class="block-content">
                                            {% for cat in categories %}
                                            <div class="cateTitle hasSubCategory open level1">
                                                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#{{ cat.title|slugify }}" aria-expanded="false" role="status">
                                                    <i class="zmdi zmdi-minus"></i>
                                                    <i class="zmdi zmdi-plus"></i>
                                                </span>
                                                <a class="cateItem" href="{% url 'products:products' %}?cat={{ cat.id }}">{{ cat.title }}</a>
                                                {% if cat.sub_category.all %}
                                                <div class="subCategory collapse" id="{{ cat.title|slugify }}" aria-expanded="true" role="status">
                                                    {% for sub in cat.sub_category.all %}
                                                    <div class="cateTitle">
                                                        <a href="{% url 'products:products' %}?cat={{ sub.id }}" class="cateItem">{{ sub.title }}</a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- best seller -->
                                    <div class="sidebar-block">
                                        <div class="title-block">{% trans "Best Deals" %}</div>
                                        <div class="product-content tab-content">
                                            <div class="row">
                                                {% for bestseller in bestsellers %}
                                                <div class="item col-md-12">
                                                    <div class="product-miniature item-one first-item d-flex">
                                                        <div class="thumbnail-container border">
                                                            <a href="{% url 'products:detail' pk=bestseller.id %}">
                                                                <img class="img-fluid image-cover" src="{{ bestseller.image.url }}" alt="{{ bestseller.title }}">
                                                                {% if bestseller.image2 %}
                                                                <img class="img-fluid image-secondary" src="{{ bestseller.image2.url }}" alt="{{ bestseller.title }}">
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="product-groups">
                                                                <div class="product-title">
                                                                    <a href="{% url 'products:detail' pk=bestseller.id %}">{{ bestseller.title|slice:30 }}</a>
                                                                </div>
                                                                <div class="rating">
                                                                    <div class="stars-content">
                                                                        {% for i in "12345" %}
                                                                        <div class="stars"></div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div class="product-group-price">
                                                                    <div class="product-price-and-shipping">
                                                                        {% if bestseller.is_discount %}
                                                                        <span class="price">£{{ bestseller.discount_price }}</span>
                                                                        <span class="regular-price">£{{ bestseller.price }}</span>
                                                                        {% else %}
                                                                        <span class="price">£{{ bestseller.price }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- products tag -->
                                    <div class="sidebar-block product-tags">
                                        <div class="title-block">{% trans "Product Tags" %}</div>
                                        <div class="block-content">
                                            <ul class="listSidebarBlog list-unstyled">
                                                {% for tag in tags %}
                                                <li>
                                                    <a href="{% url 'products:products' %}?tag={{ tag.id }}" title="{% blocktrans %}Show products matching tag {{ tag.title }}{% endblocktrans %}">{{ tag.title }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9">
                                    <div class="main-product-detail">
                                        <h2>{{ product.title }}</h2>
                                        <div class="product-single row">
                                            <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                <div class="page-content" id="content">
                                                    <div class="images-container">
                                                        <div class="js-qv-mask mask tab-content border">
                                                            {% for image in product.images.all %}
                                                            <div id="item{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}active in show{% endif %}">
                                                                <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                                            </div>
                                                            {% endfor %}
                                                            <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                <i class="fa fa-expand" title="{% trans "Expand Image" %}"></i>
                                                            </div>
                                                        </div>
                                                        <ul class="product-tab nav nav-tabs d-flex">
                                                            {% for image in product.images.all %}
                                                            <li class="{% if forloop.first %}active{% endif %} col">
                                                                <a href="#item{{ forloop.counter }}" data-toggle="tab" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" class="{% if forloop.first %}active{% endif %}">
                                                                    <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                                                </a>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="product-modal" role="dialog">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <div class="modal-body">
                                                                        <div class="product-detail">
                                                                            <div>
                                                                                <div class="images-container">
                                                                                    <div class="js-qv-mask mask tab-content">
                                                                                        {% for image in product.images.all %}
                                                                                        <div id="modal-item{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}active in show{% endif %}">
                                                                                            <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                                                                        </div>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                    <ul class="product-tab nav nav-tabs">
                                                                                        {% for image in product.images.all %}
                                                                                        <li class="{% if forloop.first %}active{% endif %}">
                                                                                            <a href="#modal-item{{ forloop.counter }}" data-toggle="tab" class="{% if forloop.first %}active show{% endif %}">
                                                                                                <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                                                                            </a>
                                                                                        </li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                <div class="detail-description">
                                                    <div class="price-del">
                                                        {% if product.is_discount %}
                                                        <span class="price">£{{ product.discount_price }}</span>
                                                        <del class="regular-price">£{{ product.price }}</del>
                                                        <span class="discount-percentage">{{ product.discount }}% OFF</span>
                                                        {% else %}
                                                        <span class="price">£{{ product.price }}</span>
                                                        {% endif %}
                                                        <span class="float-right">
                                                            <span class="availb">{% trans "Availability:" %}</span>
                                                            <span class="check">
                                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                {% if total_quantity > 0 %}
                                                                    {% trans "IN STOCK" %}
                                                                {% else %}
                                                                    {% trans "OUT OF STOCK" %}
                                                                {% endif %}
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <p class="description">{{ product.short_description }}</p>

                                                    <form id="add-to-cart-form" method="post" action="{% url 'basket:basket_add' product_id=product.id %}">
                                                        {% csrf_token %}

                                                        <div class="option has-border d-lg-flex size-color">
                                                            {% if available_sizes %}
                                                            <div class="size">
                                                                <span class="size">{% trans "Size:" %}</span>
                                                                <select name="size" id="size-select" required>
                                                                    <option value="">{% trans "Choose your size" %}</option>
                                                                    {% for size in available_sizes %}
                                                                    <option value="{{ size.id }}">{{ size.title }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            {% endif %}

                                                            {% if available_colors %}
                                                            <div class="colors">
                                                                <b class="title">{% trans "Color:" %}</b>
                                                                {% for color in available_colors %}
                                                                <label>
                                                                    <input type="radio" name="color" value="{{ color.id }}" required style="display:none;">
                                                                    <span class="color-swatch {{ color.title|lower }}" title="{{ color.title }}" style="background-color:#{{ color.code }};"></span>
                                                                </label>
                                                                {% endfor %}
                                                            </div>
                                                            {% endif %}
                                                        </div>

                                                        <div class="has-border cart-area">
                                                            <div class="product-quantity">
                                                                <div class="qty">
                                                                    <div class="input-group">
                                                                        <div class="quantity">
                                                                            <span class="control-label">{% trans "QTY:" %}</span>
                                                                            <input type="number" name="qty" id="quantity_wanted" value="1" min="1" max="{{ total_quantity }}" class="input-group form-control">
                                                                            <span class="input-group-btn-vertical">
                                                                                <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button" title="{% trans "Increase Quantity" %}">+</button>
                                                                                <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button" title="{% trans "Decrease Quantity" %}">-</button>
                                                                            </span>
                                                                        </div>
                                                                        <span class="add">
                                                                            <button class="btn btn-primary add-to-cart add-item" type="submit" {% if total_quantity == 0 %}disabled{% endif %}>
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                <span>{% trans "Add to cart" %}</span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </form>

                                                    <div class="d-flex2 has-border">
                                                        <div class="btn-group">
                                                            <a href="#" onclick="shareProduct(); return false;">
                                                                <i class="zmdi zmdi-share" title="{% trans "Share" %}"></i>
                                                                <span>{% trans "Share" %}</span>
                                                            </a>
                                                            <a href="mailto:?subject={{ product.title }}&body=Check out this product: {{ request.build_absolute_uri }}" class="email">
                                                                <i class="fa fa-envelope" aria-hidden="true" title="{% trans "Send to a Friend" %}"></i>
                                                                <span>{% trans "SEND TO A FRIEND" %}</span>
                                                            </a>
                                                            <a href="#" onclick="window.print(); return false;" class="print">
                                                                <i class="zmdi zmdi-print" title="{% trans "Print" %}"></i>
                                                                <span>{% trans "Print" %}</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="rating-comment has-border d-flex">
                                                        <div class="review-description d-flex">
                                                            <span>{% trans "REVIEW:" %}</span>
                                                            <div class="rating">
                                                                <div class="stars-content">
                                                                    {% with rating=product.get_rating %}
                                                                        {% for i in "12345" %}
                                                                            {% if forloop.counter <= rating %}
                                                                                <div class="stars filled"></div>
                                                                            {% else %}
                                                                                <div class="stars"></div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endwith %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="read after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                <span>{% trans "READ REVIEWS" %} ({{ reviews_count }})</span>
                                                            </a>
                                                        </div>
                                                        <div class="apen after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                <span>{% trans "WRITE A REVIEW" %}</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="content">
                                                        <p>{% trans "Brand:" %}
                                                            <span class="content2">{{ product.brand.name }}</span>
                                                        </p>
                                                        <p>{% trans "Categories:" %}
                                                            <span class="content2">
                                                                {% for category in product.categories.all %}
                                                                <a href="{% url 'products:products' %}?cat={{ category.id }}">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </span>
                                                        </p>
                                                        <p>{% trans "Tags:" %}
                                                            <span class="content2">
                                                                {% for tag in product.tag.all %}
                                                                <a href="{% url 'products:products' %}?tag={{ tag.id }}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="review">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#description" class="active show">{% trans "Description" %}</a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#tag">{% trans "Product Tags" %}</a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#review">{% trans "Reviews" %} ({{ reviews_count }})</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="description" class="tab-pane fade in active show">
                                                    <p>{{ product.long_description }}</p>
                                                </div>

                                                <div id="tag" class="tab-pane fade">
                                                    <div class="product-tags">
                                                        {% for tag in product.tag.all %}
                                                        <a href="{% url 'products:products' %}?tag={{ tag.id }}" class="tag-item">{{ tag.title }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div id="review" class="tab-pane fade">
                                                    <div class="spr-form">
                                                        <div class="user-comment">
                                                            {% for review in reviews %}
                                                            <div class="spr-review">
                                                                <div class="spr-review-header">
                                                                    <span class="spr-review-header-byline">
                                                                        <strong>{{ review.user.username }}</strong> -
                                                                        <span>{{ review.created_at|date:"M d, Y" }}</span>
                                                                    </span>
                                                                    <div class="rating">
                                                                        <div class="stars-content">
                                                                        {% for i in "12345" %}
                                                                            {% if forloop.counter <= review.rating %}
                                                                                <div class="stars filled"></div>
                                                                            {% else %}
                                                                                <div class="stars"></div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="spr-review-content">
                                                                    <p class="spr-review-content-body">{{ review.comment }}</p>
                                                                </div>
                                                            </div>
                                                            {% empty %}
                                                            <p>{% trans "No reviews yet. Be the first to review this product!" %}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <form method="post" action="{% url 'products:add_review' product.id %}" class="new-review-form">
                                                        {% csrf_token %}
                                                        <h3 class="spr-form-title">{% trans "Write a review" %}</h3>
                                                        <fieldset>
                                                            <div class="spr-form-review-rating">
                                                                <label class="spr-form-label">{% trans "Your Rating" %}</label>
                                                                <fieldset class="ratings">
                                                                    <input type="radio" id="star5" name="rating" value="5" required />
                                                                    <label class="full" for="star5" title="{% trans "Awesome - 5 stars" %}"></label>
                                                                    <input type="radio" id="star4" name="rating" value="4" />
                                                                    <label class="full" for="star4" title="{% trans "Pretty good - 4 stars" %}"></label>
                                                                    <input type="radio" id="star3" name="rating" value="3" />
                                                                    <label class="full" for="star3" title="{% trans "Meh - 3 stars" %}"></label>
                                                                    <input type="radio" id="star2" name="rating" value="2" />
                                                                    <label class="full" for="star2" title="{% trans "Kinda bad - 2 stars" %}"></label>
                                                                    <input type="radio" id="star1" name="rating" value="1" />
                                                                    <label class="full" for="star1" title="{% trans "Sucks big time - 1 star" %}"></label>
                                                                </fieldset>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <div class="spr-form-review-body">
                                                                <div class="spr-form-input">
                                                                    <textarea class="spr-form-input-textarea" name="comment" rows="10" placeholder="{% trans "Write your comments here" %}" required></textarea>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="submit">
                                                            <input type="submit" class="btn btn-default" value="{% trans "Submit Review" %}">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        {% if rproducts %}
                                        <div class="related">
                                            <div class="title-tab-content text-center">
                                                <div class="title-product justify-content-start">
                                                    <h2>{% trans "Related Products" %}</h2>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div class="row">
                                                    {% for rproduct in rproducts %}
                                                    <div class="item text-center col-md-4">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container border">
                                                                <a href="{% url 'products:detail' pk=rproduct.id %}">
                                                                    <img class="img-fluid image-cover" src="{{ rproduct.image.url }}" alt="{{ rproduct.title }}">
                                                                    {% if rproduct.image2 %}
                                                                    <img class="img-fluid image-secondary" src="{{ rproduct.image2.url }}" alt="{{ rproduct.title }}">
                                                                    {% endif %}
                                                                </a>
                                                                <div class="highlighted-informations">
                                                                    <div class="variant-links">
                                                                        {% for pq in rproduct.products_quantity.all %}
                                                                            {% for color in pq.colors.all %}
                                                                            <span class="color {{ color.title|lower }}" title="{{ color.title }}" style="background-color:#{{ color.code }};"></span>
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a href="{% url 'products:detail' pk=rproduct.id %}">{{ rproduct.title }}</a>
                                                                    </div>
                                                                    <div class="rating" style="justify-self: center">
                                                                        <div class="stars-content">
                                                                            {% for i in "12345" %}
                                                                            <div class="stars"></div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-group-price">
                                                                        <div class="product-price-and-shipping">
                                                                            {% if rproduct.is_discount %}
                                                                            <span class="price">£{{ rproduct.discount_price }}</span>
                                                                            {% else %}
                                                                            <span class="price">£{{ rproduct.price }}</span>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-buttons d-flex justify-content-center">
                                                                    <form action="#" method="post" class="formAddToCart">
                                                                        <a class="add-to-cart" href="{% url 'basket:basket_add' product_id=rproduct.id %}" data-button-action="add-to-cart">
                                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        </a>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_libs_js %}
<script>
    // Quantity controls
    document.querySelector('.bootstrap-touchspin-up').addEventListener('click', function() {
        let input = document.getElementById('quantity_wanted');
        let max = parseInt(input.getAttribute('max'));
        let val = parseInt(input.value);
        if (val < max) {
            input.value = val + 1;
        }
    });

    document.querySelector('.bootstrap-touchspin-down').addEventListener('click', function() {
        let input = document.getElementById('quantity_wanted');
        let val = parseInt(input.value);
        if (val > 1) {
            input.value = val - 1;
        }
    });

    // Share function
    function shareProduct() {
        if (navigator.share) {
            navigator.share({
                title: '{{ product.title }}',
                text: '{{ product.short_description }}',
                url: window.location.href
            });
        } else {
            // Fallback - copy to clipboard
            navigator.clipboard.writeText(window.location.href);
            alert('Link copied to clipboard!');
        }
    }

    // Color selection
    document.querySelectorAll('.colors input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            document.querySelectorAll('.color-swatch').forEach(s => s.classList.remove('selected'));
            this.nextElementSibling.classList.add('selected');
        });
    });
</script>
    <style>
.stars-content {
    display: flex;
    gap: 2px;
    flex-flow: row;
}

.stars {
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

.stars.filled {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffc107" stroke="%23ffc107" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

/* Review form rating stars */
.ratings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 5px;
}

.ratings input[type="radio"] {
    display: none;
}

.ratings label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ddd" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}

.ratings input[type="radio"]:checked ~ label,
.ratings label:hover,
.ratings label:hover ~ label {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffc107" stroke="%23ffc107" stroke-width="2"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/></svg>') no-repeat center;
    background-size: contain;
}
</style>
{% endblock %}