{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Furnitica - {% trans "Minimalist Furniture HTML Template" %}{% endblock %}
{% block body_id %}blog-detail{% endblock %}
{% block body_class %}blog{% endblock %}
{% block content %}
<!-- main content -->
<div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <span>{% trans "Home" %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>{% trans "Living Room" %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>{% trans "Sofa" %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    {% include 'blogs/recent_posts.html' %}

                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h3>{{ blog.title }}</h3>
                                        <div class="late-item">
                                            <p style="width: 30ch; white-space: normal; overflow-wrap: break-word;">
                                                {{ blog.description|safe }}
                                            </p>
                                            <div class="border-detail">
                                                <p class="post-info float-left">
                                                    <span>{{ blog.created_at|date:"d M Y" }}</span>
                                                    <span>113 {% trans "Comments" %}</span>
                                                    <span>{{ blog.author.full_name }}</span>
                                                </p>
                                                <div class="btn-group">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-share"></i>
                                                        <span>{% trans "Share" %}</span>
                                                    </a>
                                                    <a href="#" class="email">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        <span>{% trans "SEND TO A FRIEND" %}</span>
                                                    </a>
                                                    <a href="#" class="print">
                                                        <i class="zmdi zmdi-print"></i>
                                                        <span>{% trans "Print" %}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="admin">
                                            <img src="{{ blog.author.photo.url }}" alt="img" class="float-left right">
                                            <div class="info">
                                                <p>
                                                    <a href="#">
                                                        <span class="content-title">
                                                           {{ blog.author.full_name }}
                                                        </span>
                                                    </a>
                                                    <span><p>{{ blog.author.profession }}</p></span>
                                                </p>
                                                <p class="descript">
                                                    {{ blog.author.bio }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="related">
                                            <h2 class="title-block">{% trans "Related News" %}</h2>
                                            <div class="main-blogs">
                                                <div class="row">
                                                    {% for related in related_blogs %}
                                                    <div class="col-md-4">
                                                        <div class="hover-after">
                                                            <a href="{% url 'blogs:detail' pk=related.id %}">
                                                                <img src="{{ related.image.url }}" alt="img" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="late-item">
                                                            <p class="content-title">
                                                                <a
                                                                   href="{% url 'blogs:detail' pk=related.id %}">{{ related.title }}</a>
                                                            </p>
                                                            <p style="width: 20ch; white-space: normal; overflow-wrap: break-word;">
                                                                {{ related.description|slice:'100' }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply late-item">
                                            {% for comment in comments %}
                                            <div class="blog-comment" id="blog-comment">
                                                <h2 class="title-block">{% trans "Comments" %}</h2>
                                                <img src="{% static 'img/blog/user1.jpg' %}" alt="img" class="float-left right">
                                            </div>
                                            <div class="comment-content">
                                                <p class="user-title">
                                                    <a href="#">{{ comment.name }}</a>
                                                    <span class="time">{% trans "Posted on" %} {{ comment.created_at|date:"M d, Y \\a\\t g:ia" }} /
                                                        <a href="#">{% trans "repost" %}</a> /
                                                        <span class="green">
                                                            <a href="#">{% trans "Reply" %}</a>
                                                        </span>
                                                    </span>
                                                </p>
                                                <p class="content-comment">
                                                    {{ comment.text }}
                                                </p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="submit-comment" id="respond">
                                            <h2 class="title-block">{% trans "Submit comment" %}</h2>
                                            <div id="commentInput">
                                                <form action="" method="post" id="commentform">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                    <div class="row">
                                                        <div class="form-group col col-sm-12 col-md-4 ">
                                                            <input type="text" class="inputName form-control" name="name" placeholder="{% trans 'Your Name *' %}">
                                                        </div>
                                                        <div class="form-group col col-sm-12  col-md-4">
                                                            <input type="text" class="inputMail form-control" name="email" placeholder="{% trans 'Your E-mail *' %}">
                                                        </div>
                                                        <div class="form-group col col-sm-12  col-md-4">
                                                            <input type="text" class="form-control" name="website" placeholder="{% trans 'Your Website' %}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col col-md-12">
                                                            <textarea tabindex="4" class="inputContent form-control grey" rows="10" name="text" placeholder="{% trans 'Your Message' %}"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="submit">
                                                        <input type="submit" name="addComment" id="submitComment" class="btn btn-default" value="{% trans 'Send Message' %}">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
