{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}Furnitica - {% trans "Minimalist Furniture HTML Template" %}{% endblock %}
{% block body_id %}blog-detail{% endblock %}
{% block body_class %}blog{% endblock %}
{% block content %}
<!-- main content -->
<div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'pages:home3' %}">
                                                <span>{% trans "Home" %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'products:detail' pk=blog.id %}">
                                                <span>{% trans "Blog Detail" %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                        <!-- category -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans "Categories" %}</div>
                                            <div class="block-content">
                                                {% for cat in categories %}
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#{{ cat.title|nospace|lower }}" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="#">{{ cat.title }}</a>
                                                    <div class="subCategory collapse" id="{{ cat.title|lower|nospace }}" aria-expanded="true" role="status">
                                                        {% for sub in cat.sub_category.all %}
                                                        <div class="cateTitle">
                                                            <a onclick="addUrlParameter('cat', {{ sub.id }})" class="cateItem">{{ sub.title }}</a>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- recent posts -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans "Recent Posts" %}</div>
                                            <div class="post-item-content">
                                                {% for r_blog in recent_blogs %}
                                                <div>
                                                    <div class="late-item">
                                                        <a href="{% url 'blogs:detail' pk=r_blog.id %}">
                                                            <p style="width: 20ch; white-space: normal; overflow-wrap: break-word" class="content-title">{{ r_blog.title }}</p>
                                                        </a>
                                                        <span>
                                                            <i class="zmdi zmdi-comments"></i>{{ r_blog.comments.count }} {% trans "comment" %}
                                                        </span>
                                                        <span>
                                                            <i class="zmdi zmdi-calendar-note"></i>{{ r_blog.created_at|date:"d M Y" }}
                                                        </span>
                                                        <p class="description" style="width: 30ch; white-space: normal; overflow-wrap: break-word;">
                                                            {{ r_blog.description|slice:'150'|striptags }}
                                                        </p>
                                                        <p class="remove">
                                                            <a href="{% url 'blogs:detail' pk=r_blog.id %}">{% trans "READ MORE" %}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- products tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                {% trans "Product Tags" %}
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                    <li>
                                                        <a onclick="addUrlParameter('tag', {{ tag.id }})"
                                                           {% if tag_id == tag.id %}style="background-color:black; color:white; padding:6px 12px; display:inline-block; border-radius:4px; text-decoration:none;"{% endif %}
                                                           title="{% blocktrans %}Show products matching tag {{ tag.title }}{% endblocktrans %}">
                                                            {{ tag.title }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="{% trans 'banner-2' %}" title="{% trans 'banner-2' %}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function addUrlParameter(name, value) {
                                            let searchParams = new URLSearchParams(window.location.search)
                                            if (searchParams.has(name) && searchParams.get(name) == value) {
                                                searchParams.delete(name)
                                            } else {
                                                searchParams.set(name, value)
                                            }
                                            window.location.search = searchParams.toString()
                                        }
                                    </script>

                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h3>{{ blog.title }}</h3>
                                        <div class="late-item">
                                            <p style="width: 30ch; white-space: normal; overflow-wrap: break-word;">
                                                {{ blog.description|safe }}
                                            </p>
                                            <div class="border-detail">
                                                <p class="post-info float-left">
                                                    <span>{{ blog.created_at|date:"d M Y" }}</span>
                                                    <span>{{ comments|length }} {% trans "Comments" %}</span>
                                                    <span>{{ blog.author.full_name }}</span>
                                                </p>
                                                <div class="btn-group">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-share"></i>
                                                        <span>{% trans "Share" %}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="admin">
                                            <img src="{{ blog.author.photo.url }}" alt="img" class="float-left right">
                                            <div class="info">
                                                <p>
                                                    <a href="#">
                                                        <span class="content-title">
                                                           {{ blog.author.full_name }}
                                                        </span>
                                                    </a>
                                                    <span><p>{{ blog.author.profession }}</p></span>
                                                </p>
                                                <p class="descript">
                                                    {{ blog.author.bio }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="related">
                                            <h2 class="title-block">{% trans "Related News" %}</h2>
                                            <div class="main-blogs">
                                                <div class="row">
                                                    {% for related in related_blogs %}
                                                    <div class="col-md-4">
                                                        <div class="hover-after">
                                                            <a href="{% url 'blogs:detail' pk=related.id %}">
                                                                <img src="{{ related.image.url }}" alt="img" class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="late-item">
                                                            <p class="content-title">
                                                                <a
                                                                   href="{% url 'blogs:detail' pk=related.id %}">{{ related.title }}</a>
                                                            </p>
                                                            <p style="width: 20ch; white-space: normal; overflow-wrap: break-word;">
                                                                {{ related.description|safe|slice:'100' }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply late-item">
                                            {% for comment in comments %}
                                                    <div class="blog-comment" id="blog-comment">
                                                        {% if forloop.first %}
                                                            <h2 class="title-block">{% trans 'Comments' %}</h2>
                                                            {% else %}
                                                            <h2 class="title-block">_________________________________________</h2>
                                                        {% endif %}
                                                        <img src="{% static 'img/blog/user2.jpg' %}" alt="img" class="float-left">
                                                    </div>
                                                    <div class="comment-content">
                                                        <p class="user-title">
                                                            <a href="#">{{ comment.name }}</a>
                                                            <span class="time">Posted on {{ comment.created_at|date:"M d, Y \\a\\t g:ia" }}/
                                                                <a href="#">repost</a> /
                                                                <span class="green">
                                                                    <a href="#">Reply</a>
                                                                </span>
                                                            </span>
                                                        </p>
                                                        <p class="content-comment">
                                                            {{ comment.text }}
                                                        </p>
                                                    </div>

                                            {% endfor %}
                                        </div>
                                        <div class="submit-comment" id="respond">
                                            <h2 class="title-block">{% trans "Submit comment" %}</h2>
                                            <div id="commentInput">
                                                <form action="" method="post" id="commentform">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                    <div class="row">
                                                        <div class="form-group col col-md-12">
                                                            <textarea tabindex="4" class="inputContent form-control grey" rows="10" name="text" placeholder="{% trans 'Your Message' %}"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="submit">
                                                        <input type="submit" name="addComment" id="submitComment" class="btn btn-default" value="{% trans 'Send Message' %}">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script>
    const shareButton = document.querySelector('.btn-group a');

    async function shareContent() {

      const shareData = {
        title: document.title,
        text: 'Check out this amazing content!', // Translated from Uzbek to English
        url: window.location.href
      };

      try {
        if (navigator.share) {
          await navigator.share(shareData);
          console.log('Successfully shared!'); // Translated from Uzbek to English
        } else {
          await navigator.clipboard.writeText(window.location.href);
          alert('Link copied! You can now paste it anywhere.'); // Translated from Uzbek to English
        }
      } catch (error) {
        console.error('Error sharing:', error); // Translated from Uzbek to English
      }
    }

    shareButton.addEventListener('click', function(e) {
      e.preventDefault();
      shareContent();
    });
</script>
