{% extends 'layout/base.html' %}
{% load static %}
{% load blog_tags %}
{% load i18n %}
{% load  custom_filters %}
{% block title %}Furnitica - {% trans "Minimalist Furniture HTML Template" %}{% endblock %}
{% block body_id %}blog-list-sidebar-left{% endblock %}
{% block body_class %}blog{% endblock %}
{% block content %}
<!-- main content -->
<div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'pages:home3' %}">
                                                <span>{% trans "Home" %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'blogs:list_sidebar_left' %}">
                                                <span>{% trans "Blogs" %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">

                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                        <!-- category -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans "Categories" %}</div>
                                            <div class="block-content">
                                                {% for cat in categories %}
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#{{ cat.title|nospace|lower }}" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="#">{{ cat.title }}</a>
                                                    <div class="subCategory collapse" id="{{ cat.title|lower|nospace }}" aria-expanded="true" role="status">
                                                        {% for sub in cat.sub_category.all %}
                                                        <div class="cateTitle">
                                                            <a onclick="addUrlParameter('cat', {{ sub.id }})" class="cateItem">{{ sub.title }}</a>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- recent posts -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans "Recent Posts" %}</div>
                                            <div class="post-item-content">
                                                {% for r_blog in recent_blogs %}
                                                <div>
                                                    <div class="late-item">
                                                        <a href="{% url 'blogs:detail' pk=r_blog.id %}">
                                                            <p style="width: 20ch; white-space: normal; overflow-wrap: break-word" class="content-title">{{ r_blog.title }}</p>
                                                        </a>
                                                        <span>
                                                            <i class="zmdi zmdi-comments"></i>{{ r_blog.comments.count }} {% trans "comment" %}
                                                        </span>
                                                        <span>
                                                            <i class="zmdi zmdi-calendar-note"></i>{{ r_blog.created_at|date:"d M Y" }}
                                                        </span>
                                                        <p class="description" style="width: 30ch; white-space: normal; overflow-wrap: break-word;">
                                                            {{ r_blog.description|slice:'150'|striptags }}
                                                        </p>
                                                        <p class="remove">
                                                            <a href="{% url 'blogs:detail' pk=r_blog.id %}">{% trans "READ MORE" %}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- products tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                {% trans "Product Tags" %}
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                    <li>
                                                        <a onclick="addUrlParameter('tag', {{ tag.id }})"
                                                           {% if tag_id == tag.id %}style="background-color:black; color:white; padding:6px 12px; display:inline-block; border-radius:4px; text-decoration:none;"{% endif %}
                                                           title="{% blocktrans %}Show products matching tag {{ tag.title }}{% endblocktrans %}">
                                                            {{ tag.title }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="{% trans 'banner-2' %}" title="{% trans 'banner-2' %}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function addUrlParameter(name, value) {
                                            let searchParams = new URLSearchParams(window.location.search)
                                            if (searchParams.has(name) && searchParams.get(name) == value) {
                                                searchParams.delete(name)
                                            } else {
                                                searchParams.set(name, value)
                                            }
                                            window.location.search = searchParams.toString()
                                        }
                                    </script>
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                    <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;">
                                       <h2 style="margin:0;">{% trans 'Recent Posts' %}</h2>
                                       {% if request.user|is_author %}
                                           <a href="{% url 'blogs:add' %}"
                                              style="background:#3e2723; color:#fff; padding:6px 14px; border-radius:6px;
                                                     text-decoration:none; font-size:14px; font-weight:600;">
                                              + {% trans 'Add Blog' %}
                                           </a>
                                        {% endif %}
                                    </div>

                                        {% for blog in page_obj %}
                                        <div class="list-content row">
                                            <div class="hover-after col-md-5 col-xs-12">
                                                <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                    <img src="{{ blog.image.url }}" alt="img">
                                                </a>
                                            </div>
                                            <div class="late-item  col-md-7 col-xs-12">
                                                <p class="content-title">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">{{ blog.title }}</a>
                                                </p>
                                                <p class="post-info">
                                                    <span>{{ blog.created_at|date:"d M Y" }}</span>
                                                    <span>{{ blog.comments.count }} {% trans "Comments" %}</span>
                                                    <span>{{ blog.author.full_name }}</span>
                                                    {% if request.user == blog.author.user %}
                                                    <span>
                                                        <a class="remove" href="{% url 'blogs:delete' pk=blog.id %}">
                                                            <i class="fa fa-trash-o" aria-hidden="true" title="{% trans 'Remove' %}"> {% trans 'Delete' %} </i>
                                                        </a>
                                                    </span>
                                                    {% endif %}
                                                </p>
                                                <p style="width: 30ch; white-space: normal; overflow-wrap: break-word;" class="description">
                                                    {{ blog.description|striptags|slice:"100" }}
                                                </p>
                                                <span class="view-more">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">{% trans "view more" %}</a>
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        <div class="pagination-wrapper">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li class="pagination-item">
                <a rel="prev"
                   onclick="addUrlParameter('page', {{ page_obj.previous_page_number }})"
                   class="pagination-link pagination-prev">
                    {% trans "Previous" %}
                </a>
            </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            <li class="pagination-item">
                <a rel="nofollow"
                   onclick="addUrlParameter('page', {{ page }})"
                   class="pagination-link {% if page == page_obj.number %}pagination-active{% endif %}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="pagination-item">
                <a rel="next"
                   onclick="addUrlParameter('page', {{ page_obj.next_page_number }})"
                   class="pagination-link pagination-next">
                    {% trans "Next" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin-top: 20px;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    align-items: center;
}

.pagination-item {
    margin: 0;
}

.pagination-link {
    text-decoration: none;
    color: #333;
    padding: 10px 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
    min-width: 40px;
    text-align: center;
}

.pagination-link:hover {
    background-color: #3e2723;
    color: #fff;
    border-color: #3e2723;
    transform: translateY(-2px);
}

.pagination-active {
    background-color: #3e2723 !important;
    color: #fff !important;
    border-color: #3e2723 !important;
    font-weight: 600;
}

.pagination-prev,
.pagination-next {
    background-color: #fff;
    font-weight: 600;
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: #3e2723;
    color: #fff;
}

/* Responsive design */
@media (max-width: 576px) {
    .pagination-list {
        gap: 5px;
    }

    .pagination-link {
        padding: 8px 12px;
        font-size: 13px;
        min-width: 36px;
    }
}
</style>
{% endblock %}

{% block extra_libs_js %}
<script>
    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search)
        if (searchParams.has(name) && searchParams.get(name) == value) {
            searchParams.delete(name)
        } else {
            searchParams.set(name, value)
        }
        window.location.search = searchParams.toString()
    }
</script>
{% endblock %}
