{% load static %}
<div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
    <!-- category -->
    <div class="sidebar-block">
        <div class="title-block">Categories</div>
        <div class="block-content">
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>
                <a class="cateItem" href="#">Living Room</a>
                <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
                    <div class="cateTitle">
                        <a href="#" class="cateItem">Side Table</a>
                        <div class="subCategory collapse" id="subCategory-fruits" aria-expanded="true" role="status">
                            <div class="cateTitle">
                                <a href="#" class="cateItem">Side Table</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">FIREPLACE</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">FIREPLACE</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">floor lamp</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">ottoman</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">armchair</a>
                            </div>
                            <div class="cateTitle">
                                <a href="#" class="cateItem">cushion</a>
                            </div>
                        </div>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">FIREPLACE</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">FIREPLACE</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">floor lamp</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">ottoman</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">armchair</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">cushion</a>
                    </div>
                </div>
            </div>
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bathroom" aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>
                <a class="cateItem" href="#">Bathroom</a>
                <div class="subCategory collapse" id="bathroom" aria-expanded="false" role="status">
                    <div class="cateTitle">
                        <a href="#" class="cateItem">TOMATO</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">BROCCOLI</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">CABBAGE</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">CUCUMBER</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">EGGPLANT</a>
                    </div>
                </div>
            </div>
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#diningroom" aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>
                <a class="cateItem" href="#">Dining Rooom</a>
                <div class="subCategory collapse" id="diningroom" aria-expanded="true" role="status">
                    <div class="cateTitle">
                        <a href="#" class="cateItem">DRY BREAD</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">BREAD SLICES</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">FRENCH BREAD</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">BLACK BREAD</a>
                    </div>
                </div>
            </div>
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bedroom" aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>
                <a class="cateItem" href="#">Bedroom</a>
                <div class="subCategory collapse" id="bedroom" aria-expanded="true" role="status">
                    <div class="cateTitle">
                        <a href="#" class="cateItem">ORANGE JUICES</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">TOMATO JUICES</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">APPLE JUICES</a>
                    </div>
                </div>
            </div>
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#kitchen" aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>
                <a class="cateItem" href="#">Kitchen</a>
                <div class="subCategory collapse" id="kitchen" aria-expanded="true" role="status">
                    <div class="cateTitle">
                        <a href="#" class="cateItem">ORANGE JUICES</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">TOMATO JUICES</a>
                    </div>
                    <div class="cateTitle">
                        <a href="#" class="cateItem">APPLE JUICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- recent posts -->
    <div class="sidebar-block">
        <div class="title-block">Recent Posts</div>
        <div class="post-item-content">
            {% for r_blog in recent_blogs %}
            <div>
                <div class="late-item">
                    <a href="{% url 'blogs:detail' pk=r_blog.id %}">
                        <p class="content-title">{{ r_blog.title|slice:"50" }}</p>
                    </a>
                    <span>
                        <i class="zmdi zmdi-comments"></i>13 comment
                    </span>
                    <span>
                        <i class="zmdi zmdi-calendar-note"></i>{{ r_blog.created_at|date:"d M Y" }}
                    </span>
                    <p class="description">{{ r_blog.description|slice:"100" }}
                    </p>
                    <p class="remove">
                        <a href="{% url 'blogs:detail' pk=r_blog.id %}">READ MORE</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- products tag -->
    <div class="sidebar-block product-tags">
        <div class="title-block">
            Blog Tags
        </div>
        <div class="block-content">
            <ul class="listSidebarBlog list-unstyled">
                {% for tag in tags %}
                <li>
                    <a href="#" title="Show products matching tag {{ tag }}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- advertising -->
    <div class="sidebar-block group-image-special">
        <div class="effect">
            <a href="#">
                <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="banner-2" title="banner-2">
            </a>
        </div>
    </div>
</div>