{% load static %}
{% load i18n %}
{% load custom_filters %}
{% if messages %}
        <div style="position: relative; width: 100%; z-index: 999;">
            {% for message in messages %}
                <div style="
                    padding: 10px 20px;
                    margin: 5px auto;
                    border-radius: 6px;
                    width: 90%;
                    font-weight: bold;
                    {% if message.tags == 'success' %}
                        background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb;
                    {% elif message.tags == 'error' %}
                        background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb;
                    {% elif message.tags == 'warning' %}
                        background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba;
                    {% else %}
                        background-color: #d1ecf1; color: #0c5460; border: 1px solid #bee5eb;
                    {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<header>
    <!-- header left mobie -->
    <div class="header-mobile d-md-none">
        <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

            <!-- menu left -->
            <div id="mobile_mainmenu" class="item-mobile-top">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>

            <!-- logo -->
            <div class="mobile-logo">
                <a href="{% url 'pages:home3' %}">
                    <img class="logo-mobile img-fluid" src="{% static 'img/home/logo-mobie.png' %}"
                         alt="{% trans 'Prestashop_Furnitica' %}">
                </a>
            </div>

            <!-- menu right -->
            <div class="mobile-menutop" data-target="#mobile-pagemenu">
                <i class="zmdi zmdi-more"></i>
            </div>
        </div>

        <!-- search -->
        <div id="mobile_search" class="d-flex">
            <div id="mobile_search_content">
                <form method="get" action="#">
                    <input type="text" name="s" value="" placeholder="{% trans 'Search' %}">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="desktop_cart">
                <div class="blockcart block-cart cart-preview tiva-toggle">
                    <div class="header-cart tiva-toggle-btn">
                        <span class="cart-products-count">{{ basket|length }}</span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-content">
                        <div class="cart-content">
                            <!-- Cart items -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 🌍 Mobile Language Switcher -->
        <div class="mobile-language text-center mt-2">
            <ul class="list-inline">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li class="list-inline-item {% if language.code == LANGUAGE_CODE %}current{% endif %}">
                        <a href="{% get_full_url request language.code %}">
                            {% if language.code == "en" %}
                                <img class="img-fluid" src="{% static 'img/home/home1-flas.jpg' %}"
                                     alt="English" width="16" height="11">
                            {% elif language.code == "uz" %}
                                <img class="img-fluid" src="{% static 'img/home/home1-flas2.jpg' %}"
                                     alt="O'zbek" width="16" height="11">
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- header desktop -->
    <div class="header-top d-xs-none ">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-sm-2 col-md-2 d-flex align-items-center">
                    <div id="logo">
                        <a href="{% url 'pages:home3' %}">
                            <img src="{% static 'img/home/logo.png' %}" alt="{% trans 'logo' %}" class="img-fluid">
                        </a>
                    </div>
                </div>

                <!-- menu -->
                <div class="col-sm-5 col-md-5 align-items-center justify-content-center navbar-expand-md main-menu">
                    <div class="menu navbar collapse navbar-collapse">
                        <ul class="menu-top navbar-nav">
                            {% url 'pages:home3' as home_url %}
                            {% url 'pages:contact' as contact_url %}
                            {% url 'pages:about_us' as about_url %}
                            {% url 'products:products' as products_url %}
                            {% url 'blogs:list_sidebar_left' as blogs_url %}
                            <li class="{% if request.path == home_url %}nav-link{% endif %}">
                                <a href="{% url 'pages:home3' %}" class="parent">{% trans 'Home' %}</a>
                            </li>
                            <li class="{% if request.path == blogs_url %}nav-link{% endif %}">
                                <a href="{% url 'blogs:list_sidebar_left' %}" class="parent">{% trans 'Blogs' %}</a>
                            </li>
                            <li class="{% if request.path == products_url %}nav-link{% endif %}">
                                <a href="{% url 'products:products' %}" class="parent">{% trans 'Products' %}</a>
                            </li>
                            <li class="{% if request.path == about_url %}nav-link{% endif %}">
                                <a href="{% url 'pages:about_us' %}" class="parent">{% trans 'About Us Page' %}</a>
                            </li>
                            <li class="{% if request.path == contact_url %}nav-link{% endif %}">
                                <a href="{% url 'pages:contact' %}" class="parent">{% trans 'Contact US' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- search and acount -->
                <div class="col-sm-5 col-md-5 d-flex align-items-center justify-content-end" id="search_widget">
                    <form method="get" action="{% url 'products:products' %}">
                        <input type="text" name="s" value="" placeholder="{% trans 'Search' %}" autocomplete="off">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                    <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                        <!-- Account dropdown ... -->
                    </div>

                    <!-- 🌍 Desktop Language Switcher -->
                    <div id="desktop_language_selector"
                         class="language-selector groups-selector hidden-sm-down">
                        <ul class="list-inline">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <li class="list-inline-item {% if language.code == LANGUAGE_CODE %}current{% endif %}">
                                    <a href="{% get_full_url request language.code %}">
                                        {% if language.code == "en" %}
                                            <img class="img-fluid" src="{% static 'img/home/home1-flas.jpg' %}"
                                                 alt="English" width="16" height="11">
                                        {% elif language.code == "uz" %}
                                            <img class="img-fluid" src="{% static 'img/home/home1-flas2.jpg' %}"
                                                 alt="O'zbekcha" width="16" height="11">
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="desktop_cart">
                       <div class="blockcart block-cart cart-preview tiva-toggle">
                           <div class="header-cart tiva-toggle-btn">
                               <span class="cart-products-count">{{ basket|length }}</span>
                               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                           </div>
                           <div class="dropdown-content">
                               <div class="cart-content">
                                   <table>
                                       {% for item in basket %}
                                       <tbody>
                                           <tr>
                                               <td class="product-image">
                                                    <a href="{% url 'products:detail' pk=item.product.id %}">
                                                        <img src="{{ item.product.image.url }}" alt="{% trans 'Product' %}">
                                                    </a>
                                               </td>
                                               <td>
                                                    <div class="product-name">{{ item.product.title }}
                                                        <a href="{% url 'products:detail' pk=item.product.id %}"></a>
                                                    </div>
                                                    <div>
                                                        {{ item.product.quantity }} x<span class="product-price">£{{ item.product.price }}</span>
                                                    </div>
                                               </td>
                                               <td class="action">
                                                   <a class="remove" href="{% url 'basket:basket_remove' product_id=item.product.id %}">
                                                   <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                   </a>
                                               </td>
                                           </tr>
                                           <tr class="total">
                                               <td colspan="{{ basket|length }}">{% trans 'Total:' %}</td>
                                               <td>£{{ basket.get_total_price }}</td>
                                           </tr>
                                           <tr>
                                               <td colspan="3" class="d-flex justify-content-center">
                                                    <div class="cart-button">
                                                        <a href="{% url 'products:cart' %}" title="{% trans 'View Cart' %}">{% trans 'View Cart' %}</a>
                                                        <a href="{% url 'products:checkout' %}" title="{% trans 'Checkout' %}">{% trans 'Checkout' %}</a>
                                                    </div>
                                               </td>
                                           </tr>
                                       </tbody>
                                       {% endfor %}
                                   </table>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
