{% load static %}
<div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        {% for category in categories %}
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="{% static 'img/home/table-lamp.png' %}" alt="img">{{ category.title|upper }}</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#{{ category.title|upper }}" aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="{{ category.title|upper }}" aria-expanded="true" role="status">
                                <ul>
                                    {% for subcat in subcategories %}
                                        {% if subcat.sub.id == category.id %}
                                        <li class="item">
                                        <a href="{% url 'products:products' %}?cat={{ subcat.id }}" title="{{ subcat.title|upper }}">{{ subcat.title|upper }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>