{% load static %}
<div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="nov-megamenu clearfix">
                        <ul class="menu level1">
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#home1" aria-expanded="true" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="{% url 'pages:home3' %}" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <a href="{% url 'blogs:list_sidebar_left' %}" title="Blogs">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Blogs</a>
                            </li>
                            <li class="item has-sub">
                                <a href="{% url 'products:products' %}" title="Products">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Products</a>
                            </li>
                            <li class="item has-sub">
                                <a href="{% url 'pages:about_us' %}" title="About us">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>About us</a>
                            </li>
                            <li class="item has-sub">
                                <a href="{% url 'pages:contact' %}" title="Contact us">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Contact us</a>
                            </li>
                            <li class="item group has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#page" aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Page">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>Account</a>
                                <div class="subCategory collapse" id="page" aria-expanded="true" role="status">
                                    <ul class="group-page">
                                        <li class="item container group">
                                            <div>
                                                <ul>
                                                    <li class="item col-md-4 ">
                                                        <span class="menu-title">My Account</span>
                                                        <div class="menu-content">
                                                            <ul class="col">
                                                                <li>
                                                                    <a href="{% url 'users:user_login' %}">Login</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{% url 'users:user_register' %}">Register</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{% url 'users:user_wishlist' %}">My Wishlist</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{% url 'users:user_account' %}">Profile</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>